######################
# VScode
######################
.vscode/
.vscode/*
!.vscode/settings.json

######################
# Build files
######################
/build-*-*
/build-*
/build-ninja-gcc
/build-ninja-gcc/
/build
/build/
/build-*/
/build-*-*/
