######################
# VScode
######################
.vscode/
.vscode/*
!.vscode/settings.json

######################
# Build files
######################
/build-*-*
/build-*
/build-ninja-gcc
/build-ninja-gcc/
/build
/build/
/build-*/
/build-*-*/
CMakeFiles/

######################
# clangd
######################
/.cache
/.cache/

######################
# Virtual links
######################
compile_commands.json

######################
# files
######################
tokenizer.zip
CMakeCache.txt

######################
# binary
######################
/bin
/bin/

######################
# log files
######################
/git_logger

######################
# CMake scripts
######################
cmake_install.cmake

######################
# GraphViz
######################
test.*
!test.dot
test.*.*
test.*.*.*

######################
# System Info
######################
system_info.txt